
[submodule "site/themes/hugo-theme-chunky-poster"]
	path = site/themes/hugo-theme-chunky-poster
	url = https://github.com/sebastienlevert/hugo-theme-chunky-poster.git
[submodule "site/themes/hugo-notice"]
	path = site/themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
